@font-face {   
    font-family: 'Raleway';
    src: url('images/police/Raleway-light.ttf');
}

body{
    font-family: Raleway, serif;
    margin : auto;
    width : auto;
}

a:link{
    text-decoration:none;
}

.head{
    display: flex;
    align-items: stretch;
    padding-bottom: 40px;
}

header{   
    flex: 2;
}

nav{   
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

a{   
    color: black;
}

.hover:hover{   
    color: #0065FC;
    border-color : #0065FC;
}

.hover2:hover{   
    color: #0065FC;
    border-color : #0065FC;
}

.hover{   
    border-top: 2px solid;
    border-color: transparent;
    padding-top: 15px;
}

.hover2{   
    font-weight: bold;
    border-top: 2px solid;
    border-color: transparent;
    padding-top: 15px;
}

.nonequery{
    margin-top: 17px;
}

.nonelaptop{
    display: none;
}

.bold_titles{   
    font-weight: bold;
    font-size: 22px;
}

.logoGPS{   
    width: 20px;
    height: 20px;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    background-color: #F2F2F2;
    padding: 8px;
    text-align: center;
}
#Localisation{   
    color:black;
    font-size:25px;
    border:none;
}

.boutonrech{   
    font-size: 15px;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 8px;
    color: white;
    border:none;
}

.GPS{   
    display: flex;
    max-width: 40%;
    flex-direction: row;
    padding-bottom: 20px;
}

.logofiltres{
    font-size: 20px;
    color: #0065fc;
}

.boutonfiltres{
    border: 2px solid;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: #F2F2F2;
    border-left-color: transparent;
    padding: 10px;
    padding-right: 12px;
}

.boutonfiltres:focus{
    outline: transparent;
}

.boutonfiltres:hover{
    background-color: #0065FC;
}

.flexfiltres{
    display: flex;
    align-items: center;
}

.filters{
    display: flex;
    max-width: 60%;
    justify-content: space-between;
    padding-bottom: 5px;
}

.filtersbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.logoinfo{
    color: #0065FC;
    border-radius: 50%;
    width: 5px;
    height: 10px;
    text-align: center;
    font-size: 10px;
    text-align: center;
    border: 1px solid;
    border-color: #F2F2F2;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 50px;
}

.Middle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1350px;
}

#hebergements{
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;

}

.block_lodging{
    height: 210px;
    border: 6px solid white;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-around;
    align-items: left;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #d4d4d4;
}

.photo_hebergement{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin-top: 13px;
}

.photo_description{
    height: 90px;
    padding-left: 10px;
    padding-top: 10px;
}

.rating{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.full_stars{
    display: inline-block;
    font-size: 13px;
    padding-top: 15px;
    color:#0065FC;
 }

 .empty_stars{
     display: inline-block;
    font-size: 13px;
    padding-top: 15px;
    color: #F2F2F2;
    padding-left: 3px;
 }

 .titre_align{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.populaires{  
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.titre_align2{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.vertical_block{
    height: 150px;
    border: 6px solid white;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.vertical_photo{
    height: 150px;
    width: 45%;
    object-fit: cover;
    border-radius: 25px 0px 0px 25px;
}

.vertical_description{
    padding-left: 15px;
    line-height: 2.5;
}

.vertical_description2{
    padding-left: 15px;
}

.bigline{
    line-height: 3.3;
}

.populaires .rating{
    padding-top: 15px;
}

.activities{   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    height: 450px;
    width: 100%;
}

.titre_align3{
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 20px;
}

.block_activities1{
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    width: 22%;
    height: 450px;
}
.photo_activities1{
    height: 400px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.text_activities{
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.text_activities2{
    padding-top: 15px;
    padding-left: 20px;
    font-weight: bold;
}

.block_activities2{
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    width: 22%;
    height: 250px;
}

.photo_activities2{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.block_activities3{
    border-radius: 25px;
    box-shadow: 2px 2px 3px #d4d4d4;
    width: 22%;
    height: 150px;
}

.photo_activities3{
    height: 100px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

.footer_titles{
    font-size: 16px;
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer_block{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 200px;
}

.footer_link{
    padding-bottom: 10px;
}





@media screen and (max-width: 480px)
{
    body{
        max-width: 100%;
        padding: 2%;
        padding-top: 4%;
    }

    header img{
        width: 140px;
        padding-right: 40px;
    }

    .head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        height: 20%;
    }

    nav{
        display: flex;
        flex-direction: row;
        order: 3;
        font-size: 20px;
        border: transparent;
        border-bottom: 2px solid #F2F2F2;
        justify-content: space-around;
    }

    .hover:active{
        border-bottom: 2px solid #0065FC;
    }

    .nonequery{
        display: none;
    }

    .nonelaptop{
        display: block;
        padding-top: 6%;
    }

    .hover2{
        color: #0065FC;
        font-size: 20px;
    }

    nav > a:visited{
        text-decoration: none;
    }

    .bold_titles{
        font-size: 24px;
        text-align: center;
    }

    section > p{
        font-size: 20px;
        text-align: center;
    }

    .logoGPS{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        background-color: #F2F2F2;
        padding: 18px;
        margin: 0 auto;

    }
    #Localisation{   
        font-weight: bold;
        font-size: 22px;
        border: 2px solid #F2F2F2;
        border-right: transparent;
    }
    
    .GPS{   
        padding-bottom: 10px;
        padding-left: 7%;
    }

    .GPS i{
        font-size: 25px;
    }

    .researchbutton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0065FC;
        border-radius: 25px;
        padding: 15px;
        margin-left: -20px;
    }

    .filters{
        display: flex;
        flex-direction: column;
    }

    .bold_titles2{
        text-align: left;
        font-size: 24px;
    }

    .filtersbutton{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        align-content: space-around;
        padding-left: 10px;
    }

    .filters > input{
        height: 45px;
    }

    .boutonfiltres{
        font-size: 20px;
        font-weight: bold;
    }

    .logoinfo{
        font-size: 18px;
        border-radius: 50%;
        width: 15px;
        height: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .info > p{
        font-size: 18px;
    }

    .Middle{
        display: flex;
        flex-direction: column-reverse;
    }

    .vertical_description{
        padding-left: 15px;
        line-height: 2.5;
    }
    
    .vertical_description2{
        padding-left: 15px;
    }
    
    .bigline{
        line-height: 3.6;
    }

    .populaires .rating{
        padding-top: 5px;
    }

    #hebergements{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
    }

    .see_more{
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
    }

    .activities{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1380px;
        width: 100%;
    }

    .block_activities1, .block_activities2, .block_activities3{

        width: 100%;
        height: 210px;
    }

    .photo_activities1, .photo_activities2, .photo_activities3{
        height: 140px;
        object-fit: cover;
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer_titles{
        padding-bottom: 10px;
    }

    .footer_block{
        padding-bottom: 20px;
    }
}




@media screen and (min-width: 481px) and (max-width: 1024px){

    body{
        max-width: 100%;
        padding: 2%;
        padding-top: 4%;
    }

    header img{
        width: 140px;
        padding-right: 600px;
    }

    .head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        height: 20%;
    }

    nav{
        display: flex;
        flex-direction: row;
        order: 3;
        font-size: 22px;
        border: transparent;
        border-bottom: 2px solid #F2F2F2;
        justify-content: space-around;
    }

    nav > a:active{
        border-bottom: 2px solid #0065FC;
        width: 50%;
        text-align: center;
    }

    nav > a:visited{
        text-decoration: none;
    }

    .nonequery{
        display: none;
    }

    .nonelaptop{
        display: block;
        padding-top: 2%;
    }

    .hover2{
        color: #0065FC;
        font-size: 22px;
    }

    .bold_titles{
        font-size: 26px;
        text-align: center;
    }

    section > p{
        font-size: 22px;
        text-align: center;
    }

    .logoGPS{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        background-color: #F2F2F2;
        padding: 18px;
        margin: 0 auto;

    }
    #Localisation{   
        font-weight: bold;
        font-size: 28px;
        border: 2px solid #F2F2F2;
        border-right: transparent;
    }
    
    .GPS{
        padding-bottom: 10px;
        padding-left: 26%;
        width: 100%;
    }

    .GPS i{
        font-size: 25px;
    }

    .researchbutton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0065FC;
        border-radius: 25px;
        padding: 15px;
        margin-left: -20px;
    }

    .filters{
        display: flex;
        flex-direction: column;
    }

    .bold_titles2{
        text-align: left;
        font-size: 24px;
        padding-left: 20px;
    }

    .filtersbutton{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
    }

    .boutonfiltres{
        font-size: 24px;
        font-weight: bold;
    }

    .flexfiltres{
        padding-right: 70px;
    }

    .logoinfo{
        font-size: 24px;
        border-radius: 50%;
        width: 26px;
        height: 28px;
        text-align: center;
        vertical-align: middle;
    }

    .info{
        font-size: 22px;
        padding-top: 20px;
    }

    .Middle{
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: screen;
    }
    .vertical_block{
        height: 150px;
        border: 6px solid white;
        background-color: white;
        border-radius: 25px;
        box-shadow: 2px 2px 3px #d4d4d4;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 60%;
    }
    
    .vertical_photo{
        height: 150px;
        width: 45%;
        object-fit: cover;
        border-radius: 25px 0px 0px 25px;
    }
    
    .vertical_description{
        padding-left: 15px;
        line-height: 2.5;
    }
    
    .vertical_description2{
        padding-left: 15px;
    }
    
    .bigline{
        line-height: 3.3;
    }

    #hebergements{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
    }

    .see_more{
        font-weight: bold;
        font-size: 20px;
        padding-top: 20px;
    }

    .activities{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1380px;
        width: 100%;
    }

    .block_activities1, .block_activities2, .block_activities3{

        width: 100%;
        height: 210px;
    }

    .photo_activities1, .photo_activities2, .photo_activities3{
        height: 140px;
        object-fit: cover;
    }

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer_titles{
        padding-bottom: 10px;
    }

    .footer_block{
        padding-bottom: 20px;
    }
}